
.wrapper {
  height: 568px;
  width: 320px;
  background-color: black;
  position: relative;
  overflow: hidden;
  animation: apparition 3s ease-in-out;
}

#first-screen {
  height: 568px;
  width: 320px;
  background-color: black;
  position: relative;
  overflow: hidden;
  z-index: 4;
  /*display: none;*/

}

#second-screen {
  height: 568px;
  width: 320px;
  background-color: black;
  z-index: 3;
  display: none;
}
#third-screen {
  height: 568px;
  width: 320px;
  background-color: black;
  z-index: 2;
  display: none;
}

#forth-screen {
  height: 568px;
  width: 320px;
  background-color: black;
  z-index: 1;
  display: none;
}

.logo {
  display: flex;
  justify-content: center;

}
.logo img {
  width: 100px;
  height: 60px;
  margin-top: 20px;
}


.accroche p:first-child {
  color: #C41230;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  animation: opacc 600ms;
  font-size: 33px;
  margin-bottom: 0;
}

.accroche p:last-child {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  animation: ques 5s;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);

}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*          animation "Avez vous envie de..."     */
@keyframes ques {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
   }
}

.voiture {
  position: absolute;
  animation: move 400ms;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  left: 250px;
  opacity: 0;
  top: 350px;

}
@keyframes move {
    0% {
      left: 250px;
      opacity: 0;
    }
    100%   {

      left: 60px;
      opacity: 1;

    }
}
.voiture img {
  margin-top: 20px;
  width: 220px;
  height: 130px;
}

.autozoom img {
  width: 320px;
  height: 390px;
  position: absolute;
  bottom: 0px;
}

.addon {
  background-color: black;
  height: 200px;
  width: 320px;
  position: absolute;
  z-index: 2;
  top: 210px;

}

#clickme {
  padding: 20px;
  position: absolute;
  bottom: 30px;
  left: 150px;
  animation: bounce 1s infinite;
  transform-origin: center bottom;

}
.arrow-down{
  width: 34px;
  height: 15px;
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -12px, 0);
    transform: translate3d(0, -12px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
/*          animation "nouvelle kia rio"             */

@keyframes opacc {
0%   {
  opacity: 0;
  font-size: 50px;
}
100% {
  opacity: 1;
  font-size: 33px;
}
}

.catchy-phrases {
  display: flex;
  justify-content: center;
}

.catchy-phrases img {
  width: 75%;
  height: 35px;
  margin-top: 26px;
}

.caroussel {
  background-color: red;
  height: 200px;
  width: 320px;
  position: absolute;
  top: 210px;
  overflow: hidden;
}

.caroussel img {
  height: 200px;
  width: 320px;
}

.voiture2 img {
  width: 220px;
  height: 130px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 20px;
}

.map {
  width: 320px;
  position: absolute;
  bottom: 0;
}
.map img:first-child {
  width: 320px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.rectangle-rose {
  height: 140px;
  width: 65%;
  position: absolute;
  bottom: 100px;
  left: 20px;
  z-index: 2;
}

.rectangle-blanc {
  height: 36px;
  width: 25%;
  position: absolute;
  left: 80px;
  bottom: 105px;
  z-index: 3;
}

.go {
  height: 25px;
  width: 50px;
  position: absolute;
  left: 93px;
  bottom: 110px;
  z-index: 4;
}

.adresse-kia {
    z-index: 4;
    width: 197px;
    position: absolute;
    bottom: 177px;
    left: 29px;
}

.logo-bas {
  z-index: 4;
  position: absolute;
  bottom: 64px;
  width: 54px;
  height: 28px;
  left: 175px;
}
